<div class="movies-container" *ngIf="!loading; else loadingTemplate">
    <h1>{{genreName}} Movies</h1>
    
    <div>
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let movie of genreMovies">
              <ng-template carouselSlide>
                <img style="width: 200px; height: 250px;" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
                <h4 style="margin-bottom: 5px;">{{ movie.title }}</h4>
                <p style="margin: 0;">{{ movie.release_date }}</p>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
    </div>
  </div>
  
  <ng-template #loadingTemplate>
    <p>Loading movies...</p>
  </ng-template>
  